extends layout

block content
    h1.cabecera-pagina #{title}
    form(method='POST', action='/articles/edit/'+article._id)
        #form-group
            label Título
            input.form-control(name="title", type="text", value=article.title)
        //- #form-group
        //-     label Author
        //-     input.form-control(name="author", type="text", value=article.author)
        #form-group
            label Contenido
            textarea.form-control(name="body")= article.body
        input.btn.btn-warning(type="submit", value="Enviar")