extends layout

block content
    h1.cabecera-pagina Acceso
    form(method='POST', action='/users/login')
        #form-group
            label Nombre de usuario
            input.form-control(name="username", type="text")
        #form-group
            label Contraseña
            input.form-control(name="password", type="password")
        input.btn.btn-warning(type="submit", value="Enviar")