extends layout

block content
    h1 Registro
    form(method='POST', action='/users/register')
        #form-group
            label Nombre
            input.form-control(name="name", type="text")
        #form-group
            label E-mail
            input.form-control(name="email", type="text")
        #form-group
            label Nombre de Usuario
            input.form-control(name="username", type="text")
        #form-group
            label Contraseña
            input.form-control(name="password", type="password")
        #form-group
            label Confirmar Contraseña
            input.form-control(name="password2", type="password")
        input.btn.btn-warning(type="submit", value="Enviar")